#officers {
  margin-bottom: 2.7rem;
  position: relative
}

#officers:before {
  position: absolute;
  display: block;
  left: -99999rem;
  right: -99999rem;
  background-color: #cec1d7;
  top: 2.7rem;
  bottom: 2.7rem
}

#officers .column-content {
  float: left !important;
  clear: none;
  width: 50%
}

@media screen and (min-width: 768px) {
  #officers .column-content {
    width: 23.79%
  }
}

#officers .column-content>a {
  display: block;
  position: relative
}

#officers .column-content:nth-child(2n) .page-details:hover {
  background-color: #cec1d7;
}

#officers .thumbnail-image {
  float: none;
  width: 100%;
  display: block
}

#officers .thumbnail-image img {
  display: block;
  width: 100%;
  height: auto
}

#officers .page-summary, #officers .page-title {
  font-family: "Museo Sans";
  font-weight: 900 !important;
  text-transform: uppercase;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

#officers .page-title {
  font-size: 2.592rem
}

#officers .page-summary {
  font-size: 1.5rem
}

#officers .custom-title {
  display: none !important
}

#officers .page-details {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: auto;
  height: auto;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2.7rem;
  text-align: center;
  transition: 450ms
}

#officers .page-details:hover {
  background-color: #cec1d7
}

#officers .page-details>* {
  opacity: 0;
  display: block;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  transition: 0.3s
}

#officers .page-details:hover>* {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.home-content-html .content>div, .page-content-html .content>div, .sub-site-home-html .wrapper>.content {
 width: 100%!important;
}
