#officers {
  margin-bottom: 2.7rem;
  position: relative
}

#officers:before {
  position: absolute;
  display: block;
  left: -99999rem;
  right: -99999rem;
  background-color: #cec1d7;
  top: 2.7rem;
  bottom: 2.7rem
}

#officers .column-content {
  float: left !important;
  clear: none;
  width: 50%
}

@media screen and (min-width: 768px) {
  #officers .column-content {
    width: 23.79%
  }
}

#officers .column-content>a {
  display: block;
  position: relative
}

#officers .column-content:nth-child(2n) .page-details:hover {
  background-color: #cec1d7;
}

#officers .thumbnail-image {
  float: none;
  width: 100%;
  display: block
}

#officers .thumbnail-image img {
  display: block;
  width: 100%;
  height: auto
}

#officers .page-summary, #officers .page-title {
  font-family: "Museo Sans";
  font-weight: 900 !important;
  text-transform: uppercase;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

#officers .page-title {
  font-size: 2.592rem
}

#officers .page-summary {
  font-size: 1.5rem
}

#officers .custom-title {
  display: none !important
}

#officers .page-details {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: auto;
  height: auto;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2.7rem;
  text-align: center;
  transition: 450ms
}

#officers .page-details:hover {
  background-color: #cec1d7
}

#officers .page-details>* {
  opacity: 0;
  display: block;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  transition: 0.3s
}

#officers .page-details:hover>* {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.home-content-html .content>div, .page-content-html .content>div, .sub-site-home-html .wrapper>.content {
 width: 100%!important;
}

.stripe .jcarousel-skin-tango .jcarousel-clip-horizontal {
  width: 100%;
  margin: 0 auto;
}

.stripe .stripe-carousel ul {
  height: auto !important;
}

.stripe .stripe-wrap li {
  margin: 40px 0px;
}

.stripe .stripe-wrap a {
  height: 100%;
  width: 100%;
  display: block
}

.stripe .stripe-wrap a span.thumbnail-image {
  display: block;
  float: none;
  font-size: 13px;
  margin: 0 auto;
  width: 125px;
  height: 125px;
  padding: 0;
  background: #fff;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0x;
  overflow: hidden;
}

.stripe .stripe-wrap a span.thumbnail-image img {
  width: 95%;
  height: 95%;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0x;
}

.stripe .stripe-wrap a span.page-details {
  font-size: 14px;
  float: none;
  font-family: "Museo Slab", Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding: 0;
  line-height: 13px
}

.stripe .stripe-wrap a span.page-details .page-title {
  color: #3b1e70;
  display: block;
  font-size: 16px;
  margin: 15px 25px 0;
  text-align: center;
  text-transform: uppercase
}

.stripe .stripe-wrap a span.page-details .page-summary {
  color: #999999;
  display: block;
  font-size: 13px;
  line-height: 19px;
  margin: 0 25px;
  text-align: center
}
